@function randomNum($max) {
  $rand: random($max);
  $randomNum: floor($rand - ceil($max/2));

  @return $randomNum;
}

.section {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.coinDescription {
  width: 100vw;
  height: 50vh;
}
.coinDiv {
  width: auto;
  height: auto;
  visibility: hidden;
}
.sheet {
  height: 50vh;
  width: 50vw;
  max-width: 80vw;
  position: absolute;
  background-color: rgb(65, 65, 65);
  bottom: 0px;
  left: 50%;
  font-size: 0.8em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

@for $i from 1 through 4 {
  .sheet:nth-child(#{$i}) {
    @if $i%2 == 1 {
      background-color: red;
    }
    transform: translateX(-50%) rotateZ(randomNum(10) + deg);
  }
}
