@import "./main.module.scss";

@function randomNum($max) {
  $rand: random($max);
  $randomNum: floor($rand - ceil($max/2));

  @return $randomNum;
}

.coinSection {
  @extend .section;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #12132f, #68bfe1);
  @include flex(column, center, center);
}

.info {
  width: 85vw;
  height: 50vh;
  @include flex(column, flex-start, center);
  color: white;
}
.oneLiner {
  display: flex;
  font-size: 5rem;

  @media (max-height: 700px) {
    font-size: 3rem;
  }
}
.oneLinerPartOne {
  margin: 5px;
  text-align: center;
  span:nth-child(1) {
    margin-left: 15px;
  }
}
.description {
  font-size: 1rem;
  text-align: center;
}

.cometCharacter {
  padding-right: 0px;
  margin-right: 0px;
  opacity: 0.1;
}
.coinDiv {
  width: auto;
  height: auto;
  visibility: hidden;
}
.sheet {
  height: 250px;
  width: 250px;
  max-width: 80vw;
  position: absolute;
  background-color: #ffe9e9;
  bottom: 0px;
  left: 50%;
  font-size: 0.8em;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

@for $i from 1 through 5 {
  .sheet:nth-child(#{$i}) {
    @if $i%2 == 1 {
      background-color: #d9e6ff;
    }
    transform: translateX(-50%) rotateZ(randomNum(10) + deg);
  }
}
