@import "./main.module.scss";

.coinSection {
  @extend .section;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(120deg, #12132f, #68bfe1);
  @include flex(column, center, center);
  position: relative;
}

.info {
  width: 85vw;
  height: 50vh;
  @include flex(column, flex-start, center);
  color: white;
}
// .oneLiner {
// }
.oneLinerPartOne {
  @include header;
  margin: 5px;
  font-size: clamp(30px, 4vw, 50px);
  span:nth-child(1) {
    margin-left: 15px;
  }
}
.description {
  @include description;
  font-size: clamp(14px, 2vw, 20px);
}

.cometCharacter {
  padding-right: 0px;
  margin-right: 0px;
  opacity: 0.1;
}
.coinDiv {
  width: auto;
  height: auto;
  visibility: hidden;
}
.sheet {
  height: max(60vh, 300px);
  width: max(60vh, 300px);
  max-width: 80vw;
  position: absolute;
  background-color: #ffe9e9;
  bottom: -25%;
  left: 50%;
  font-size: 0.8em;
  text-align: center;
  padding: 0px 5%;
  margin-bottom: 15px;
  @include flex(column, flex-start, center);
  h3 {
    @include header;
    margin: 10% 0px;
    margin-top: 20%;
    font-size: clamp(20px, 4vw, 40px);
    text-align: center;
  }
  p {
    @include description;
    font-size: clamp(12px, 2vw, 18px);
  }
}
@function randomNum($max) {
  $rand: random($max);
  $randomNum: floor($rand - ceil($max / 2));
  @return $randomNum;
}

@for $i from 1 through 5 {
  .sheet:nth-child(#{$i}) {
    $temp: randomNum(5);
    $reverse: -$temp;
    @if $i % 2 == 1 {
      background-color: #d9e6ff;
    }
    transform: translateX(-50%) rotateZ(#{$temp}deg);
    h3,
    p {
      transform: rotateZ($reverse * 1deg);
    }
  }
}

@media (max-width: 425px) {
  .sheet {
    height: 90vw;
    width: 90vw;
    bottom: -15%;
  }
}
