@import "./main.module.scss";

.IllustrationSection {
  @include flex(row, space-evenly);
  height: 100vh;
  background-color: #ffffff;
  color: black;
  @media (max-width: $mobileView) {
    @include flex(column-reverse, space-evenly);
  }
}

.__sectionHalf {
  width: fit-content;
  // min-width: 320px;
  // height: 45dvh;
  overflow: hidden;
}

.imgBlockContainer {
  @extend .__sectionHalf;
  // max-width: 320px;
  // max-height: 320px;
  margin: 20px;
  overflow: hidden;
  @include flex(row, flex-start);
}

.textBlockContainer {
  @extend .__sectionHalf;
  flex-direction: row;
  height: 350px;

  @media (min-width: $mobileView) {
    height: 100vh;
    @include flex(column, flex-start);
  }
}

.illustrationBlock {
  background: transparent;
  position: relative;
  max-width: 50vw;
  margin: 10px;
}

.textBlock {
  @media (min-width: $mobileView) {
    min-height: 100vh;
    width: 45vw;
    @include flex(column, center, flex-start);
  }
  @include flex(column, center, center);
  min-height: 350px;
  width: 100dvw;
  padding: 10%;
  position: relative;
  font-family: "montserrat";

  h2 {
    @include header;

    font-size: clamp(30px, 4vw, 40px);
    text-align: left;
    margin-bottom: 3vw;
  }
  p {
    @include description;
    font-size: clamp(16px, 1vw, 20px);
    text-align: left;
  }
  @media (max-width: $mobileView) {
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
