@import "./main.module.scss";

.initialSection {
  @extend .section;
  padding: 15%;
}

.oneLiner,
.description {
  width: 100%;
  text-align: center;
}
.oneLiner {
  font-size: 10vw;
  line-height: 10vw;
  margin: 2px;
  margin-bottom: 1rem;
  font-weight: 800;

  @media (max-width: 700px) {
    font-size: 3rem;
  }
  // line-height: 3.5rem;
}
.description {
  font-size: 2vw;

  @media (max-width: 700px) {
    font-size: 1.2rem;
  }
}

@media (max-width: $mobileView) {
  .oneLiner {
    line-height: normal;
  }
}
