$mobileView: 700px;

@mixin flex($direction: column, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.section {
  width: 100svw;
  height: 100svh;
  background-color: white;
  color: black;
  @include flex(column, center, center);
  z-index: 0;
}
