@import "./main.module.scss";
.teamsSection {
  @extend .section;
  position: relative;
  min-width: 100vw;
  height: auto;
  z-index: 1;
}
.info {
  @include flex(column, flex-start, center);
  width: 60vw;
}

.oneLiner {
  font-size: 3rem;
  text-align: center;
}
.description {
  font-size: 1rem;
  text-align: center;
}
.teams {
  position: absolute;
  width: 16rem;
  height: 16rem;
  // top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.member {
  margin: 10px 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 16rem;
  // height: 18rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-radius: 12px;
  @include flex(column, flex-start, center);
  z-index: 0;
}
.memberActive {
  @extend .member;
  box-shadow: 0px 0px 15px black;
  background-color: #ffffff;
  z-index: 10;
  .memberBackgroundImage {
    visibility: visible;
  }
  .memberInfo {
    display: flex;
  }
}
.memberImage {
  height: 16rem;
  width: auto;
  z-index: 1;
}
.memberBackgroundImage {
  height: 18rem;
  position: absolute;
  top: 0px;
  z-index: 0;
  visibility: hidden;
  transform: translateY(-2rem);
}
.memberIcon {
  width: 2.5rem;
}
.memberInfo {
  @include flex(column, center, flex-start);
  font-size: 1rem;
  padding: 10px;
  width: 85%;
  display: none;
  & > div {
    width: 100%;
    @include flex(row, space-between, center);
  }
}
.memberDetails {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  p {
    // height: 0.5rem;
    width: fit-content;
  }
  p:nth-child(1) {
    font-weight: 700;
    font-size: 1.2rem;
  }
  p:nth-child(2) {
    font-weight: 600;
    font-size: 0.72rem;
  }
  p:nth-child(3) {
    font-weight: 600;
    font-size: 0.72rem;
    opacity: 0.5;
  }
}
.memberDescription {
  width: 100%;
  font-size: 0.6rem;
  font-weight: 500;
  margin-top: 10px;
}
.gallery {
  min-width: 100vw;
  display: inline-block;
  height: 25rem;
  @include flex(column, flex-end, center);
}

.actions {
  position: absolute;
  display: none;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  display: inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: #414141;
  text-shadow: 0px 1px 0px #414141;
  box-shadow: 0px 1px 0px 414141;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 10px;
  border-radius: 4px;
  padding: 12px 25px;
  font-family: "Signika Negative", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  font-size: 20px;
  font-weight: 400;

  &:hover {
    background: red;
    box-shadow: 0px 1px 0px fefefe;
    color: #ffffff;
    text-decoration: none;
  }
}

.a {
  color: #88ce02;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.dragProxy {
  visibility: hidden;
  position: absolute;
}
