@import "./main.module.scss";
.teamsSection {
  @extend .section;
  position: relative;
  min-width: 100vw;
  height: auto;
}
.info {
  @include flex(column, flex-start, center);
  width: 60vw;
}

.oneLiner {
  font-size: 3rem;
  text-align: center;
}
.description {
  font-size: 1rem;
  text-align: center;
}
.member {
  margin: 10px 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 14rem;
  height: 18rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;

  @include flex(column, flex-start, center);
  &:focus {
    background-color: red;
    .memberInfo {
      display: flex;
    }
  }
}
.memberImage {
  height: 18rem;
  width: auto;
  z-index: 1;
}
.memberBackgroundImage {
  height: 18rem;
  width: auto;
  position: absolute;
  top: 0px;
  z-index: 0;
}
.memberIcon {
  width: 1rem;
}
.memberInfo {
  @include flex(column, center, flex-start);
  font-size: 1rem;
  width: 60%;
  & > div {
    width: 100%;
    @include flex(row, space-between, center);
  }
  display: none;
}
.memberDetails {
  @include flex(column, flex-start, flex-start);
  width: 100%;
  p {
    height: 0.5rem;
    width: fit-content;
    font-size: 0.4rem;
  }
}
.memberDescription {
  width: 100%;
  font-size: 0.5rem;
}
.gallery {
  min-width: 100vw;
  display: inline-block;
  height: 25rem;
}

.teams {
  position: absolute;
  width: 14rem;
  height: 18rem;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.actions {
  position: absolute;
  display: none;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  display: inline-block;
  outline: none;
  border: none;
  padding: 8px 14px;
  background: #414141;
  background-image: -webkit-linear-gradient(top, #575757, #414141);
  background-image: -moz-linear-gradient(top, #575757, #414141);
  background-image: -ms-linear-gradient(top, #575757, #414141);
  background-image: -o-linear-gradient(top, #575757, #414141);
  background-image: linear-gradient(to bottom, #575757, #414141);
  text-shadow: 0px 1px 0px #414141;
  -webkit-box-shadow: 0px 1px 0px 414141;
  -moz-box-shadow: 0px 1px 0px 414141;
  box-shadow: 0px 1px 0px 414141;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto 10px;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  padding: 12px 25px;
  font-family: "Signika Negative", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;

  font-size: 20px;
  font-weight: 400;

  &:hover {
    background: #57a818;
    background-image: -webkit-linear-gradient(top, #57a818, #4d9916);
    background-image: -moz-linear-gradient(top, #57a818, #4d9916);
    background-image: -ms-linear-gradient(top, #57a818, #4d9916);
    background-image: -o-linear-gradient(top, #57a818, #4d9916);
    background-image: linear-gradient(to bottom, #57a818, #4d9916);
    text-shadow: 0px 1px 0px #32610e;
    -webkit-box-shadow: 0px 1px 0px fefefe;
    -moz-box-shadow: 0px 1px 0px fefefe;
    box-shadow: 0px 1px 0px fefefe;
    color: #ffffff;
    text-decoration: none;
  }
}

.a {
  color: #88ce02;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.dragProxy {
  visibility: hidden;
  position: absolute;
}
